:root {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
input[type="submit"] {
  background-color: hsl(160, 40%, 38%);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 20px;
  transition: background-color 0.3s ease;
}

button,
input[type="submit"] {
  display: block;
  margin: 10px auto;
}

.wrap {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

/* HEADER */
#header {
  background-color: hsl(160, 40%, 38%);
  height: 70px;
  padding-top: 10px;
  position: fixed;
  width: 100%;
  z-index: 999;
  }
  

#logo {
  border-radius: 2px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  float: left;
  }

  
  .icono {
  float: left;
  font-size: 40px;
  margin-left: 100px;
  margin-top: 5px;
  }
  
  /* NAVEGACION */
  #menu {
  float: right;
  line-height: 50px;
  }
  
  #menu ul {
  list-style: none;
  }

.form-control {
  margin-bottom: 15px;
}

.form-control input[type="email"],
.form-control input[type="contrasena"],
.form-control input[type="usuario"],
.form-control input[type="numero"],
.form-control input[type="repcontrasena"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

#Blog,
#Servicios,
#Contacto {
  margin-bottom: 100px;
}

.form-control label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

body {
  background-color: rgb(212, 247, 236);
}

button,
input[type="submit"] {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

button:hover,
input[type="submit"]:hover {
  background-color: #3b9579;
  transform: scale(1.1);
}

#Inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 70px;
}


h2 {
  text-align: center;
  font-size: 32px;
  margin-top: 20px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #094a32
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

#logo {
  text-align: center;
  margin-top: 20px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 100%;
}

.icono {
  max-width: 100%;
}