<div class="container mt-4">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <span class="h3">LISTA CUIDADORES</span>
      <select id="role-selector" class="form-select" (change)="onRoleChange($event)">
        <option value="owner" selected>Dueño</option>
        <option value="caretaker">Cuidador</option>
      </select>
    </div>
    <div class="card-body">
      <h5 class="no-data" *ngIf="empleados.length == 0">NO HAY DATOS PARA MOSTRAR</h5>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar por nombre..." (input)="onBuscarEmpleado($event)">
        <button class="btn btn-dark" routerLink="/crear-empleados">Agregar</button>
      </div>
      <div class="table-responsive">
        <table class="table table-striped mt-3" *ngIf="empleados.length > 0">
          <thead>
            <tr>
              <th class="nombre" scope="col">Nombre</th>
              <th class="acciones"scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let empleado of empleadosFiltrados">
              <td class="nombre">
                <a [routerLink]="['/lista-empleados', empleado.nombre]">{{ empleado.nombre }}</a>
              </td>
              <td class="acciones">
                <a (click)="eliminarEmpleado(empleado.id)" class="action-icon" style="cursor: pointer;">
                  <img src="assets/iconos/eliminar.ico" alt="Icono Eliminar">
                </a>
                <a [routerLink]="['/lista-empleados', empleado.nombre]" class="action-icon">
                  <img src="assets/iconos/ver.ico" alt="Icono Ver Detalles">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="notification" class="notification">
  <span id="notification-message"></span>
</div>
