/* GENERALES */
:root {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


button,
input[type="submit"] {
  background-color: hsl(160, 40%, 38%);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 20px;
  transition: background-color 0.3s ease;
}

button,
input[type="submit"] {
  margin: 0 auto;
  display: block;
}

.wrap {
  margin: 0 auto;
  width: 1200px;
}


/* HEADER */
#header {
  background-color: hsl(160, 40%, 38%);
  height: 70px;
  padding-top: 10px;
  position: fixed;
  background-color: hsl(160, 40%, 38%);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

#logo {
  border-radius: 2px;
  cursor: pointer;
  float: left;
  height: 50px;
  width: 200px;
}

#logo h1 {
  float: left;
  margin-left: 5px;
  margin-top: 7px;
}

.icono {
  float: left;
  font-size: 40px;
  margin-left: 10px;
  margin-top: 5px;
}

/* NAVEGACION */
#menu {
  float: right;
  line-height: 50px;
}

#menu ul {
  list-style: none;
}

#menu ul li {
  display: inline-block;
  margin-left: 25px;
}

#menu ul li a {
  color: #fff;
  font-size: 25px;
  letter-spacing: 1px;
  text-decoration: none;
  transition: all 300ms;
}

#menu ul li:hover a {
  color: gold;
}

#menu ul li:hover {
  transform: scale(1.2, 1.2);
}

/* para .cerrar */
#menu ul li.cerrar {
  float: right;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

body {
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.card {
  background: #fcdcfc;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgba(228, 247, 255, 0);
  cursor: pointer;
  font-family: cursive;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #c231a0, #fd9bed 43%, #f4b1f9);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}


@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #c231a0, #fd9bed 43%, #f4b1f9);
  position: absolute;
  z-index: -1;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card .ficha-app-description p {
  font-size: 16px;
  color: #666;
  margin-left: 10px;
  margin-right: 10px;
}

h1 {
  color: #333;
  font-size: 24px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.ficha-app-buttons {
  text-align: center;
}

.btn-googleplay-app,
.btn-ios-app {
  display: inline-block;
  margin: 10px;
  padding: 12px 24px;
  background-color: #b20ca9;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-googleplay-app:hover,
.btn-ios-app:hover {
  background-color: #f875e6;
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Dark Mode */
body.dark-mode {
  background-color: #2b2b2b;
}

.dark-mode #header {
  background-color: #1a1a1a;
}

.dark-mode #menu ul li a {
  color: #fff;
}

.dark-mode .card {
  background-color: #1a1a1a;
}

.dark-mode .card__header {
  background-color: #2b2b2b;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.card2 {
  width: 250px;
  height: 400px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-left: 250px;
}



.formulario-contacto h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;

}

.formulario-contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.formulario-contacto label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #666;
  text-align: left;
}

.formulario-contacto input[type="text"],
.formulario-contacto input[type="email"],
.formulario-contacto textarea {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

.formulario-contacto .campo-input {
  overflow: hidden;
}


.formulario-contacto input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card {
  width: 400px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-left: 100px;
}

.ficha-app-description {
  margin-top: 10px;
}

.ficha-app-name {
  font-size: 24px;
  color: #333;
}

.ficha-app-buttons {
  margin-top: 20px;
}

.ficha-app-buttons .btn-googleplay-app {
  display: inline-block;
  padding: 10px 20px;
  background-color: purple;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
}



#map {
  height: 300px;
  width: 500px;
  float: left;
  margin-top: 25px;
}

.accordion {
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 20px;
  margin-left: 150px;
}


.accordion-item {
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  border-radius: 5px;
  margin-bottom: 10px;
}

.accordion-item:hover {
  background-color: #ddd;
}

.accordion-item.active {
  background-color: #ccc;
}

.accordion-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f9f9f9;
}

.accordion-content.show {
  display: block;
}