<div class="login-box">
  <div class="photo-container">
    <img src="../../../assets/iconos/perro3.png" alt="Foto de perfil" style="width: 160px; height: 160px;">
  </div>
  <h2>Login</h2>
  <form (submit)="onSubmit()">
    <div class="user-box">
      <input type="text" name="username" [(ngModel)]="username" required>
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" [(ngModel)]="password" required>
      <label>Password</label>
    </div>
    <button type="submit">
      Submit
    </button>
  </form>
  <div *ngIf="errorMessage" class="error-msg">
    <span>!</span> {{ errorMessage }}
    <img src="../../../assets/iconos/exclamacion.png" alt="Error" class="error-icon">
  </div>
</div>
