<div class="login-box">
  <div class="photo-container">
    <img src="../../../assets/iconos/perro3.png" alt="Foto de perfil" style="width: 160px; height: 160px;">
  </div>
  <h2>Login</h2>
  <form (submit)="onSubmit()">
    <div class="user-box">
      <input type="text" name="username" [(ngModel)]="username" required>
      <label>Username</label>
      <div *ngIf="!isUsernameValid" class="error-msg">
        <span>!</span> Username incorrecto
        <img *ngIf="!isUsernameValid" src="../../../assets/iconos/exclamacion.png" alt="Error" class="error-icon">
      </div>
    </div>
    <div class="user-box">
      <input type="password" name="password" [(ngModel)]="password" required>
      <label>Password</label>
      <div *ngIf="!isPasswordValid" class="error-msg">
        <span>!</span> Password incorrecto
        <img *ngIf="!isPasswordValid" src="../../../assets/iconos/exclamacion.png" alt="Error" class="error-icon">
      </div>
    </div>
    <button type="submit" [ngClass]="{'error': !isUsernameValid || !isPasswordValid}">
      Submit
    </button>
  </form>
</div>
